*{
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #0A0A0A;
    border-bottom: 1px solid #414141;
    padding-left: 6vw;
    padding-right: 6vw;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 4vh 0;
    margin: 0;
    color: #767676;
}

li{
    margin-left: 150px;
}

li:first-of-type{
    margin-right: auto;
    font-weight: bold;
    margin-left: 0;
}

.hero, .technologies, .projects{
    padding-left: 8vw;
    padding-right: 8vw;
}

.hero{
    background-color: #0A0A0A;
}

h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 20vh;
    font-weight: 500;
}

.name{
    margin: 0;
    background-image: linear-gradient(to right, #821C32, #4C4298, #9524A8);
    color: transparent;
    background-clip: text;
}

h3{
    color: #858585;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin: 4vh 6vw;
}

.buttonwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 10vh;
    margin-bottom: 30vh;
    padding: 4vh 10vw;
    background-color: #821C32;
    border: none;
    font-size: 1.5rem;
}

.technologies{
    background-color: #821C32;
}

h2{
    font-size: 64px;
    font-weight: 400;
    padding-top: 15vh;
}

.projects{
    background-color: #0A0A0A;
}

h5{
    font-size: 24px;
    font-weight: 400;
}

p{
    font-size: 18px;
    color: #A6A6A6;
}