html{
    scroll-behavior: smooth;
}

*{
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #0A0A0A;
    border-bottom: 1px solid #414141;
    padding-left: 6vw;
    padding-right: 6vw;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 4vh 0;
    margin: 0;
    color: #767676;
}

li{
    margin-left: 150px;
    transition: all 50ms ease-in;
    user-select: none;
}

li:first-of-type{
    margin-right: auto;
    font-weight: bold;
    margin-left: 0;
}

li:hover{
    /* transform: translateY(-4px); */
    color: #878686;
}

li:active{
    transform: translateY(1px);
}

.hero, .technologies, .projects{
    padding-left: 8vw;
    padding-right: 8vw;
}

.hero{
    background-color: #0A0A0A;
}

h1{
    font-size: 6rem;
    text-align: center;
    padding-top: 20vh;
    font-weight: 500;
}

.name{
    margin: 0;
    background-image: linear-gradient(to right, #821C32, #4C4298, #9524A8);
    color: transparent;
    background-clip: text;
}

h3{
    color: #858585;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin: 4vh 6vw;
}

.buttonwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btndetail{
    text-decoration: none;
    user-select: none;
    margin-top: 10vh;
    margin-bottom: 30vh;
    padding: 4vh 10vw;
    background-color: #821C32;
    border: none;
    font-size: 1.5rem;
    transition: all 100ms ease-in;
}

.btndetail:hover{
    transform: scale(1.05) translateY(-10px);
    background-color: #a72743;
    border-radius: 10px;
}

.btndetail:active{
    transform: scale(1.06);
    background-color: #5b1525;
    border-radius: 10px;
}

.technologies{
    background-color: #821C32;
}

h2{
    font-size: 64px;
    font-weight: 400;
    padding-top: 15vh;
}

.projects{
    background-color: #0A0A0A;
    padding-bottom: 10vh;
}

.projectcard{
    margin-top: 10vh;
    display: flex;
    align-items: center;
}

.projecttxt{
    margin-left: 3vw;
}

h5{
    font-size: 24px;
    font-weight: 400;
}

p{
    font-size: 18px;
    color: #A6A6A6;
}

.iconholder{
    margin-top: 20px;
}

.iconholder img:first-child{
    margin-right: 10px;
}